@charset "UTF-8";

html {
  scroll-behavior: smooth;
  /*плавное прокручивание скролл*/
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Magra, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Magra, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  font-family: Magra, sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  border: 1px solid #000;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.header__imghand {
  width: 18.0729vw;
  height: 697px;
  background: url("../img/imghand.png") 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.header__bgimage {
  width: 100%;
  height: 487px;
  background: url("../img/bgheader.jpg") 0 0 no-repeat;
  background-size: contain;
}

.header__bglinear {
  width: 100%;
  height: 487px;
  background: rgba(19, 26, 33, 0.85);
}

.header__container {
  position: relative;
  z-index: 5;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.header__main {
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 188px;
  height: 48px;
}

.header__social-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 137px;
          flex: 0 1 137px;
  margin: 0px 8.97436% 0px 5.12821%;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 395px;
          flex: 0 1 395px;
  margin-right: 8.54701%;
}

.header__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 185px;
          flex: 0 0 185px;
  position: relative;
}

.social-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-menu__list {
  line-height: 16px;
}

.social-menu__link {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social-menu__link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  font-family: "Fira Code", monospace;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.actions-header__logo {
  width: 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  position: relative;
}

.actions-header__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding-left: 15px;
  font-family: "Fira Code", monospace;
  color: #fff;
}

.actions-header__submenu {
  background-color: #fff;
  display: none;
  width: 126px;
  height: 99px;
  padding: 15px 19px 15px 20px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 54px;
}

.actions-header__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
  font-family: "Fira Code", monospace;
  color: #1f2123;
}

.actions-header__link span {
  color: #007eff;
  font-weight: 700;
}

.actions-header__arrow {
  position: absolute;
  right: 0;
  width: 9px;
  height: 5px;
  overflow: hidden;
  background: url("../img/arrowdown.svg") 0 0 no-repeat;
  background-size: contain;
  cursor: pointer;
}

.actions-header__submenu.open {
  display: block;
}

.actions-header > a:hover .actions-header__submenu {
  display: block;
}

@media (max-width: 1158px) {
  .container {
    max-width: 970px;
  }

  .header__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__social-menu {
    margin: 0px;
  }

  .header__menu {
    margin: 0;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__social-menu {
    display: none;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.webp .header__imghand{ background: url(../img/imghand.webp) 0 0 no-repeat; }

.webp .header__bgimage{ background: url(../img/bgheader.webp) 0 0 no-repeat; }