@import url("https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
@font-face {
  font-family: OCR;
  src: url("../fonts/ocr_onectt_[allfont.net].ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Fira;
  src: url("../fonts/FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Furor;
  src: url("../fonts/ofont.ru_Furore.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: black;
  font-family: Fira, sans-serif;
}

.wrapper {
  max-width: 100%;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
}

header {
  height: 25.36458vw;
  min-height: 300px;
}

.header {
  position: relative;
}

.header__backgroud {
  position: absolute;
  top: 0;
  left: 0;
  height: 25.36458vw;
  min-height: 300px;
  width: 100%;
  background: rgba(19, 26, 33, 0.85);
  z-index: -1;
}

.header__backgroud::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 7.5vw;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.header__bgimg {
  position: absolute;
  top: 0;
  left: 0;
  height: 25.36458vw;
  width: 100%;
  min-height: 300px;
  background: url("../img/bgheader.jpg") no-repeat;
  background-size: contain;
  z-index: -1;
}

@media (max-width: 1200px) {
  .header__bgimg {
    background-size: cover;
    background-position: -80px 0;
  }
}

.header__img {
  position: absolute;
  width: 18.07292%;
  height: 36.30208vw;
  top: 0;
  left: 0;
}

.header__img .first-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__img .second-img {
  position: absolute;
  left: 0;
  top: 222.895%;
  width: 100%;
}

.navbar {
  padding: 0;
  height: 7.5vw;
}

.navbar__content {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 989px) {
  .navbar__content {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
  }
}

@media (max-width: 767px) {
  .navbar__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar-brand {
  margin: 0;
  padding: 0;
  height: 48px;
  width: 188px;
  position: relative;
  z-index: 15;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .navbar-brand {
    width: 120px;
  }
}

.header__social-menu {
  margin-left: 3.125vw;
  width: 137px;
  padding: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__social-menu .social-link {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all;
  transition: all;
}

.header__social-menu .social-link:hover img {
  -webkit-filter: drop-shadow(1px 1px 0px #fff);
          filter: drop-shadow(1px 1px 0px #fff);
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

@media (max-width: 1060px) {
  .header__social-menu {
    display: none;
  }
}

.header__main-menu {
  list-style: none;
  margin-left: 5.46875vw;
  -webkit-transition: none;
  transition: none;
}

.header__main-list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  font-family: Fira, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.header-user {
  width: 185px;
  margin-left: 4.42708vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 990px) {
  .header-user {
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .header-user {
    width: 150px;
    margin-left: 0;
  }
}

.header-user__image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
}

.header-user__image img {
  width: 100%;
  height: 100%;
}

.header-user__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-user__menu a {
  padding: 0;
}

.nav-link.dropdown-toggle::after {
  opacity: 0;
}

.nav-link.dropdown-toggle::before {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 11px;
  width: 15px;
  height: 15px;
  background: url(../img/dropdownarrow.svg) 0 0 no-repeat;
}

.dropdown-menu.show {
  margin-top: 22px;
  padding: 15px 19px 15px 20px;
  width: 126px;
}

.dropdown-item {
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
  color: #1f2123;
  font-family: Fira, sans-serif;
}

.navbar-toggler {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 15;
}

.navbar-toggler-icon {
  background: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-second {
  color: #feffff;
  padding-top: 4.73958vw;
}

@media (max-width: 767px) {
  .header-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    text-align: center;
  }
}

.header-second__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-second__image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  margin-right: 18px;
}

.header-second__image img {
  width: 100%;
  height: 100%;
}

.header-second__h1 {
  margin: 1.5625vw 0 2.03125vw;
  font-weight: normal;
  font-size: 47px;
  font-size: calc(24px + 23 * ((100vw - 320px) / 1600));
  line-height: calc(54 / 47);
  font-family: Furor, sans-serif;
  text-transform: uppercase;
}

.header-second__info {
  display: inline-block;
  overflow: hidden;
}

.header-second__info span {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  color: #feffff;
  position: relative;
  text-transform: uppercase;
  margin-right: 34px;
}

.header-second__info span:last-child {
  margin-right: 0;
}

.header-second__info span::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #41474d;
  position: absolute;
  top: 50%;
  right: -19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-second__comment {
  display: inline-block;
  text-align: right;
}

.main-page {
  padding-top: 3.64583vw;
}

.main-page .row > div {
  padding: 0;
}

@media (max-width: 767px) {
  .main-page .row > div {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .main-page__body {
    margin: 0 auto;
  }
}

.sidebar__list {
  padding-left: 6px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .sidebar__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.sidebar__link {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-bottom: 10px;
}

.sidebar__link:last-child {
  margin-bottom: 0;
}

.link-fb {
  background: url("../img/fblogo_w.svg") 0 0 no-repeat;
  background-size: contain;
}

.link-tw {
  background: url("../img/twlogo_w.svg") 0 0 no-repeat;
  background-size: contain;
}

.link-mail {
  background: url("../img/maillogo_w.svg") 0 0 no-repeat;
  background-size: contain;
}

.link-vk {
  background: url("../img/vklogo_w.svg") 0 0 no-repeat;
  background-size: contain;
}

.link-fb:hover {
  background: url("../img/fblogo_b.svg") 0 0 no-repeat;
  background-size: contain;
}

.link-tw:hover {
  background: url("../img/twlogo_b.svg") 0 0 no-repeat;
  background-size: contain;
}

.link-mail:hover {
  background: url("../img/maillogo_b.svg") 0 0 no-repeat;
  background-size: contain;
}

.link-vk:hover {
  background: url("../img/vklogo_b.svg") 0 0 no-repeat;
  background-size: contain;
}

.main-page__breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page__breadcrumb .breadcrumb-item {
  font-family: Fira, sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-page__breadcrumb .breadcrumb-item a {
  color: #1f2123 !important;
}

.main-page .breadcrumb-item.active {
  color: #c5ced8;
}

.main-page__content {
  margin-top: 2.13542vw;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .main-page__content {
    text-align: justify;
  }
}

.main-page__text {
  margin-bottom: 0;
  font-size: 16px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: calc(29 / 16);
  margin-right: 66px;
}

@media (max-width: 767px) {
  .main-page__text {
    margin-right: 0;
  }
}

.main-page__h2 {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  font-family: Furor, sans-serif;
  text-transform: uppercase;
}

.main-page__image {
  width: 100%;
  height: 19.375vw;
  min-height: 120px;
  position: relative;
  margin: 2.60417% 0;
}

.main-page__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-page .blockquote {
  width: 100%;
  position: relative;
  margin-bottom: 2.65625vw;
}

.main-page .blockquote__text {
  font-weight: normal;
  font-size: 21px;
  font-size: calc(16px + 5 * ((100vw - 320px) / 1600));
  line-height: calc(31 / 21);
  color: #1f2123;
  padding: 0px 3.33333vw 0px 4.21875vw;
  margin-bottom: 10px;
}

.main-page .blockquote__text::before {
  content: "";
  display: block;
  width: 45px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/quotes.png") 0 0 no-repeat;
}

@media (max-width: 870px) {
  .main-page .blockquote__text::before {
    display: none;
  }
}

.main-page .blockquote__author {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #aaafb4;
  font-family: Fira, sans-serif;
  padding-left: 81px;
}

@media (max-width: 870px) {
  .main-page .blockquote__author {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
}

.main-page__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.60417vw 0;
}

.main-page__images div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.5%;
          flex: 0 1 48.5%;
  height: 19.27083vw;
  position: relative;
  min-height: 120px;
  max-height: 372px;
}

.main-page__images div img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-page .tags {
  margin: 1.30208vw 0 2.08333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .tags__name {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-page .tags .nav-link {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.52083vw;
  color: #007eff;
}

.main-page .tags .nav-link:hover {
  color: black;
}

.top-news {
  width: 270px;
  margin-left: auto;
}

.top-news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-news__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  font-family: Furor, sans-serif;
  text-transform: uppercase;
  color: #1f2123;
}

.top-news__images {
  margin-top: 23px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  overflow: hidden;
}

.top-news__images img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  .top-news__images {
    margin-top: 15px;
    width: 270px;
    margin: 0 auto;
  }
}

.top-news__images:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top-news__text {
  margin: 25px 0px 15px 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: OCR, arial;
  color: #1f2123;
  letter-spacing: 3px;
}

@media (max-width: 767px) {
  .top-news__text {
    margin: 10px 0;
  }
}

.top-news .breadcrumb {
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  margin-bottom: 23px;
}

@media (max-width: 767px) {
  .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articles__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767px) and (max-width: 430px) {
  .articles__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.articles a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.articles__item {
  padding: 20px 0;
  position: relative;
}

.articles__item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #efefef;
  position: absolute;
  top: 0;
  left: 0;
}

.articles__image {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  overflow: hidden;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}

.articles__image img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.articles__title {
  font-weight: normal;
  font-family: OCR, arial;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
  color: black;
}

.articles .breadcrumb {
  margin: 0;
  padding: 0;
  width: 174px;
}

.main-page .download {
  padding: 2.60417vw 0;
  border-top: 1px solid #e3eaf2;
}

.main-page .download__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-page .download__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 15px;
}

.main-page .download__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 420px) {
  .main-page .download__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 5px;
  }
}

.main-page .download__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 13px;
  font-size: calc(11px + 2 * ((100vw - 320px) / 1600));
  line-height: calc(17 / 13);
  color: #1f2123;
  font-family: Fira, sans-serif;
  text-decoration: none;
}

.main-page .download__link p {
  margin: 0;
  display: inline-block;
  border-bottom: 1px dashed #d8d9dc;
}

.main-page .download__link img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin-right: 20px;
}

.author .container-fluid {
  background: #f7fafe;
  border-radius: 5px;
}

.author .col-8 {
  padding: 0;
}

.author .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.60417vw 0;
}

@media (max-width: 530px) {
  .author .comment {
    display: inline-block;
    text-align: justify;
  }
  .author .comment__image {
    float: left;
  }
}

.author .comment__body {
  width: 100%;
}

.author .comment__image {
  width: 86px;
  height: 86px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86px;
          flex: 0 0 86px;
  margin-right: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.author .comment__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.author .comment__name {
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  color: #1f2123;
}

.author .comment__text {
  font-size: 14px;
  line-height: 24px;
  color: #646b71;
  margin: 14px 0 1.30208%;
}

.author .comment__link {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #007eff;
  position: relative;
}

.author .comment__link::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  position: absolute;
  top: 3px;
  right: -15px;
  background: url("../img/arrow-comment.svg") 0 0 no-repeat;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  .author .comment__link::after {
    top: 1px;
  }
}

.author .comment__link:hover::after {
  right: -30px;
}

.author .articles-author {
  position: relative;
  margin: 2.60417vw 0;
  padding: 10px 0 10px 0;
}

.author .articles-author svg {
  fill: black;
}

.author .articles-author::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #e3eaf2;
}

.author .articles-author__link {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.author .articles-author__link:hover svg {
  fill: #0056b3;
}

.author .articles-author__link:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.author .articles-author__link:hover .articles-author__text {
  color: #0056b3;
}

@media (max-width: 560px) {
  .author .articles-author__link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.author .articles-author .col-6 {
  padding: 0;
}

.author .articles-author__image {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  margin-right: 30px;
}

.author .articles-author__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.author .articles-author__arrow {
  line-height: 10px;
}

.author .articles-author__text {
  margin: 20px 0 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #c3cbd0;
}

@media (max-width: 560px) {
  .author .articles-author__text {
    margin: 10px 0px;
  }
}

.author .articles-author__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #1f2123;
}

@media (max-width: 560px) {
  .author .articles-author__title {
    font-size: 14px;
    line-height: 18px;
  }
}

.author .link-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.author .link-right .articles-author__image {
  margin-right: 0;
  margin-left: 30px;
}

.block-comment__head {
  background: #f7fafe;
  border-radius: 5px;
  width: 100%;
  padding: 25px 20px 25px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .block-comment__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
}

.block-comment__body {
  width: 100%;
}

.block-comment__quantity {
  font-family: Furor, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

@media (max-width: 500px) {
  .block-comment__quantity {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.block-comment__btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.block-comment__btn:active, .block-comment__btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.block-comment .comment {
  padding: 2.08333vw 1.5625vw;
  border-bottom: 1px solid #e3eaf2;
}

.block-comment .comment__body {
  position: relative;
}

.block-comment .comment__image {
  width: 65px;
  height: 65px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
}

.block-comment .comment__name {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
}

.block-comment .comment__date {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #aaafb4;
}

.block-comment .comment__text {
  font-size: 14px;
  line-height: 23px;
  color: #1f2123;
  margin: 9px 0 1.40625vw;
}

.block-comment .comment__link::after {
  display: none;
}

.block-comment .comment.answer {
  margin-left: 4.94792vw;
}

.block-comment .comment__like {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-comment .comment__like .like-toggle {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  width: 15px;
  height: 14px;
  background: url("../img/heart_w.svg") 0 0 no-repeat;
  background-size: cover;
  margin-right: 5px;
}

.block-comment .comment__like.like-active span {
  color: #fc5146;
}

.block-comment .comment__like.like-active .like-toggle {
  background: url("../img/heart_r.svg") 0 0 no-repeat;
  background-size: cover;
}

.block-comment .comment__quantity {
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #aaafb4;
}

.block-comment__loadmore {
  margin: 2.60417vw 0 4.53125vw;
  text-align: center;
}

.block-comment__loadmore a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #1f2123;
  border-bottom: 2px solid #1f2123;
}

.block-comment__loadmore a:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.footer.container-fluid {
  background: black;
  padding: 50px 0px 60px;
}

@media (max-width: 767px) {
  .footer.container-fluid {
    padding: 25px 0px;
  }
}

.footer .navbar-brand {
  position: relative;
  z-index: 5;
}

@media (max-width: 767px) {
  .footer .navbar-brand {
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.footer__nav {
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2.44792vw;
  border-bottom: 1px solid #2c2e30;
}

.footer__menu {
  max-width: 100%;
}

@media (max-width: 767px) {
  .footer__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 590px) {
  .footer__menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__menu-list li {
  padding: 0 10px;
}

.footer__social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  list-style: none;
}

.footer__social-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__social-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 490px) {
  .footer__social-menu {
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.footer__copy {
  margin-top: 2.03125vw;
  font-size: 13px;
  line-height: 18px;
  color: #53575a;
  font-family: Fira, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 470px) {
  .footer__copy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__copy .copy-foter__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .main-page__top-news {
    text-align: center;
  }
  .main-page__top-news .top-news__images {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 380px) {
  .main-page__top-news {
    margin: 0 auto;
  }
}

.show.header__main-menu {
  background: #284cd7f2;
  z-index: 10;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show.header__main-menu .nav-item:hover .nav-link {
  color: black;
}

@media (max-width: 989px) {
  .show.header__main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
  }
}

.show.header__main-menu a {
  font-size: calc(16px + 16 * ((100vw - 320px) / 1600));
  line-height: calc(32 / 24);
}

@media (max-width: 992px) {
  .header-user {
    margin: 0;
  }
  .header__main-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body.lock {
  overflow: hidden !important;
}

.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.dark {
  background: #000000ba;
}
